<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="width:80%;margin:0 auto;">
		<h1>Bienvenidos a mi página</h1>
		<div class="justifyText">
			<p>Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.</p>
			<p>For performance reasons, all icons require a base class and individual icon class. To use, place the following code just about anywhere. Be sure to leave a space between the icon and text for proper padding.</p>
		</div>
	</div>
</body>
</html>





