<!--<p id="notice"><%= notice %></p>-->
<div style="width:80%;margin:0 auto;">
	<h2>Detalle de Materia Prima</h2>

	<p>
	  <strong>Nombre:</strong>
	  <%= @material.nombre %>
	</p>

	<%= link_to 'Editar', edit_material_path(@material) %> |
	<%= link_to 'Volver', materials_path %>
</div>